.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background: white; 
  min-height: 100vh;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.loginContainer h1{
  align-items: center;
  justify-content: center;
  display: flex;
  color: rgb(0, 0, 0);
}

.login-container{
  align-items: center;
  justify-content: center;
  display: flex;
  color: rgb(0, 0, 0);
}

.container {
  padding: 0 0 1em 0;
  margin-top: .5em;
  width: 282px;
  background-color: rgb(151, 146, 139);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  overflow: visible;
  min-height: 300px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  min-height: 200vh;
}

.linkRodape {
  text-decoration: none;
  display: block;
  margin-top: 30px;
}
